body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  font-family: sans-serif;
}
h2 {
  font-size: 28px;
}
p, .hljs {
  font-size: 18px;
}

.hljs {
  border-radius: 8px;
  border: 1px solid #ccc;
  white-space: pre-line;
  tab-size: 2;
}
.toc-content {
  font-size: 1rem;
  line-height: 1.1;
  cursor: pointer;
  display: inline-block;
  background-color: #ccc9;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

/* Indent headings based on their level */
.toc-h3 {
  padding-left: 1em;
}

.toc-h4 {
  padding-left: 2em;
}

.toc-h5 {
  padding-left: 3em;
}

.toc-h5 {
  padding-left: 4em;
}